<p id="notice"><%= notice %></p>

<h1>Reviews</h1>
  <ul>
    <% @reviews.each do |review| %>
        <li><%= review.content %></li>
        <li><%= review.rating %></li>
    <% end %>
  </ul>


<%= link_to 'New Review', new_restaurant_review_path(@restaurant) %>